html{
    margin: 0;
}
body {
    margin: 0;
    overflow: scroll;
}
.nav-menu-thing {
    width: 100%;
    height: 30px;

}
.nav-menu-thing ul {
    float:right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.nav-menu-thing a {
    color: black;
}

.content {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}
.content p {
    font-size: 12px;
}
.content img {
    padding: 0px 40px;
}
.content input[type=submit]{
    background: lightgray;
    padding: 4px;
    margin: 5px 15px;
}
.content input[type=submit] :hover{
    background: lightgray;
    padding: 4px;
}
.content input[type=text]{
    border-radius: 20px;
    margin-bottom: 20px;
}
.dontknowhowtocenter {
    -webkit-appearance: none;
    margin: auto;
/* im having far too much trouble centering this thing i feell.. but then margin: auto; aint working*/
    display: inline-block;
    padding: 250px;
}

.bottom {
    background-color: #f3f3f3;
    margin: 0;

}
.footer {
    border: 1px solid #e7e7e7;
    margin: 0;
    width: 100%;
    height: 40px;
  }
.footer p {
    font-size: 14px;
    color: gray;
    padding: 0 40px;
}
.footer2 {
    border: 1px solid #e7e7e7;
    margin: 0;
    width: 100%;
    height: 40px;
}
.footer2 ul {
    font-size: 12px;
    color: gray;
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 4px;
}
#goinright {
    float: right;
}
a {
    color: blue;
}
.footer2 a {
    text-decoration: none;
    color: gray;
}
a:hover {
    text-decoration: underline; 
}
